streamlit
openai
python-dotenv
langchain
langchain-community
langchain-core
chromadb
tiktoken
pandas
numpy
pydantic
typing-extensions
typing-inspect
aiohttp
python-magic
python-magic-bin; platform_system == 'Windows'
chardet
streamlit-extras
watchdog
faiss-cpu
langchain_openai
